<div id="gtco-features">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                <h2 class="cursive-font">Nossos Serviços</h2>
                <p>Muadsfum Ipsum, cacilds vidis lsdfro abertis. Si num tem lsdfe ensdfo bsdfa uma psdfa aí cumpsdfi!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i class="ti-face-smile"></i>
                    </span>
                    <h3>Pessoas Felizes</h3>
                    <p>Muadsfum Ipsum, cacilds vidis litro abertis. Si num tem lasdfte enasdfão boasdfa uma piadfa aí cuadsfi!</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i class="ti-thought"></i>
                    </span>
                    <h3>Culinária Criativa</h3>
                    <p>Muasdfum Ipsum, cacilds vidis litro abadfis. Si num tem leasdfe então badfa uma pasdfga aí cumpadi!</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i class="ti-truck"></i>
                    </span>
                    <h3>Delivery</h3>
                    <p>Muss Ipsum, cacilds vidis litro abertis. Si nm tm le ent bota uma pina aí cumai!</p>
                </div>
            </div>


        </div>
    </div>
</div>